style.css

html, body {
  height: 100%;
  margin: 0;
}

.home {
  background: url("soucy-sky.jpg") center/cover no-repeat;
  min-height: 100vh;
}
.jogi-games header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.texte {
  text-align: left;
}

.photo {
  width: 120px;
  border-radius: 10px;
  border: 5px solid red;
}
h1 {
  color: red;
  font-size: 50px;
  text-align: center;
}

.slogan {
  color: #fd06e9;
  font-size: 22px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-top: 40px;
  text-align: center; 
}

/* Conteneur des jeux */
.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px;
}

/* Carte jeu */
.jeu {
  border: 1px solid gray;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}



/* Liens */
.link {
  text-align: center;
  margin-top: 40px;
}
a {
  color: #fd06e9;
  text-decoration: none;
}



.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}
@media (max-width: 350px) {
  .galerie img {
    width: 80%;
    height: auto;
    justify-content: center;
    margin-left: 50px;
    }
}

.galerie img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s;
  object-fit: contain;
}

.galerie img:hover {
  transform: scale(1.1);
}
.description {
  max-width: 600px;
  margin: 20px auto;
  font-size: 18px;
}

.image-jeu {
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  margin: 20px 0;
}
.video {
  .video {
  width: 400px; 
  height: auto;
  display: block;
  margin: 30px auto;
  border-radius: 15px;
}
iframe {
  width: 300px;
  height: 500px;
}

 .survivors {
  background: url("survivre-clans.jpg") center/cover no-repeat;
  min-height: 100vh;max-width: 60%;
} 
.survivors header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.texte {
  text-align: left;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
}
