style.css

html, body {
  height: 100%;
  margin: 0;
}

.home {
  background: url("soucy-sky.jpg") center/cover no-repeat;
  min-height: 100vh;
}
.jogi-games header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.sacred-grove {
  background-color: #f5f0dc;
  min-height: 100vh;
}

.texte {
  text-align: left;
}

.photo {
  width: 120px;
  border-radius: 45px;
  border: 5px solid red;
  
  display: block;
  margin: 20px auto;
}
h1 {
  color: red;
  font-size: 50px;
  text-align: center;
}

.slogan {
  color: red;
  font-size: 22px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-top: 40px;
  text-align: center; 
}

/* Conteneur des jeux */
.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px;
}

/* Carte jeu */
.jeu {
  border: 1px solid gray;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}



/* Liens */
.link {
  text-align: center;
  margin-top: 40px;
}
a {
  color: red;
  text-decoration: none;
}

.titre-editeurs{
    text-align:center;
    margin-top:50px;
    margin-bottom:20px;
}

.editeurs{
    display:flex;
    justify-content:space-between;
    gap:30px;

    max-width:1000px;
    margin:0 auto 70px auto;

    background:#f7f1df;
    border:3px solid #8a6d3b;
    border-radius:20px;
    padding:30px;
}

.fr,
.en{
    flex:1;
}

.fr{
    border-right:2px solid #b59b63;
    padding-right:20px;
}

.en{
    padding-left:20px;
}

.fr h3,
.en h3{
    text-align:center;
    color:darkgreen;
    font-family: system-ui, sans-serif;
}

.fr a,
.en a{
    display:block;
    margin:15px 0;
    text-decoration:none;
    font-weight:bold;
    color:#0b4f6c;
}

.fr a:hover,
.en a:hover{
    color:darkgreen;
}

.galerie {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}
@media (max-width: 350px) {
  .galerie img {
    width: 80%;
    height: auto;
    justify-content: center;
    margin-left: 50px;
    }
}

.galerie img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s;
  object-fit: contain;
}

.galerie img:hover {
  transform: scale(1.1);
}
.description {
  max-width: 600px;
  margin: 20px auto;
  font-size: 18px;
}

.avis {
  max-width: 800px;
  margin: 20px auto;
  font-size: 25px;
  color: darkgreen;
  background-color: rgba(242, 242, 235, 0.95);
  border: 2px solid #f8f8f8;
  border-left: 5px solid darkgreen;
  padding: 20px;
  font-family: Garamond, serif;
  border-radius: 15px;
  font-style: italic;
}

.image-jeu {
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  margin: 20px 0;
}
.video {
  .video {
  width: 400px; 
  height: auto;
  display: block;
  margin: 30px auto;
  border-radius: 15px;
}
iframe {
  width: 300px;
  height: 500px;
}

.survivors {
  background: url("survivre-clans.jpg") center/cover no-repeat;
  min-height: 100vh;
}
.survivors header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.texte {
  text-align: left;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
}
